body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: 'Raleway', 'sans-serif';
  background-color: #B721FF;
  background-image: linear-gradient(0deg, #B721FF 0%, #21D4FD 59%, #b721ff 100%);
  color: wheat
}

h2 {
  font-size: 30px
}

header {
  display: grid;
  grid-template-rows: auto 1fr;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  position: fixed;
  width: 100%;
}

li {
  display: inline;
  list-style: none;
  padding: 0 15px;
}

li a {
  text-decoration: none;
  color: wheat;
}
li a:hover {
  color: #21D4FD;
}

section {
  text-align: center;
  padding: 250px;
  font-size: 25px
}

section h1 {
  font-size: 40px
}

.main-grid {
  display: grid;
  grid-template-rows:  repeat(4, auto);
  grid-gap: 40px;
  text-align: center;
}

.aside-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.features {
  display: grid;
  grid-template-rows: auto;
  align-content: center;
  width: 300px;
  background: #eeeeee;
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.205);
  border-radius: 5px;
  color: gray
}

.features p {
  font-size: 20px
}

iframe {
  max-width: 40%;
  width: 100%;
  justify-self: center
}

form {
  margin-bottom: 50px;
}

form p {
  font-size: 20px;
  padding: 0 150px;
}

#email {
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  border: transparent;
  border-radius: 5px;
  width: 300px;
  height: 30px;
}

#submit {
  padding: 15px 70px;
  font-size: 15px;
  background: transparent;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
#submit:hover {
  background:#25cffd;
}

@media screen and (max-width:768px) {
  section {
    padding: 120px 50px;
  }

  .aside-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, 280px);
    grid-gap: 50px
  }

}